@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/assets/themes/havee/fonts/2Q-AW1e_taO6pHwMXcXW5w.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(/assets/themes/havee/fonts/ISUraQdBYMI3VoDzBxXqNvesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
